[submodule "thirdparty/sdl"]
	path = thirdparty/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "thirdparty/sdl_image"]
	path = thirdparty/sdl_image
	url = https://github.com/libsdl-org/SDL_image
